* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --blue-main-BG: hsl(217, 54%, 11%);
  --blue-card-BG: hsl(216, 50%, 16%);
  --blue-line: hsl(215, 32%, 27%);
}

body {
  font-family: 'Outfit', sans-serif;
}

img {
  max-width: 100%;
}

main {
  background-color: var(--blue-main-BG);
}

.content-parent {
  height: 667px;
}

.content {
  width: 327px;
  height: 543px;
  background-color: var(--blue-card-BG);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  padding: 24px 25px 24px 24px;
}

.img-section {
  width: 278px;
}

.img-section > img {
  border-radius: 8px;
}

.hidden {
  top: 0;
  background-color: hsl(178deg 100% 50% / 50%);
  border-radius: 8px;
  opacity: 0;
}

.hidden:hover {
  opacity: 1;
}

.hidden > img {
  width: 2.75rem;
}

.heading {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px var(--blue-line) solid;
}

.title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}

.title:hover {
  color: var(--Cyan) !important;
}

.description {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 300;
  color: var(--Soft-blue);
  margin-bottom: 1rem;
}

.parent, .footer {
  font-size: 15px;
  line-height: 19px;
}

.child:first-child span {
  font-weight: 600;
  color: var(--Cyan);
  padding-left: 3px;
}

.child:last-child span {
  color: var(--Soft-blue);
  padding-left: 6px;
}

.image-avatar {
  width: 33px;
  margin-top: 1rem;
}

.image-avatar > img {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.footer > span {
  color: var(--Soft-blue);
  padding-left: 1rem;
}

.footer a {
  padding-left: 5px;
}

.footer a:hover {
  color: var(--Cyan) !important;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1440px) {
  .content-parent {
    height: 900px;
  }
  .content {
    width: 350px;
    height: 596px;
    padding: 24px;
  }
  .img-section {
    width: 302px;
  }
  .title {
    margin-bottom: 1rem;
  }
  .description {
    margin-bottom: 1.5rem;
  }
  .parent, .footer {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}